- contribution = @notification.contribution

|Hola, #{contribution.user.name}!
br
br
| Triztemente el proyecto #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} 
| que usted apoyó no alcanzó su meta de financiamiento en #{Configuration[:company_name]}.
br
br
| Debido a esto, tienes #{contribution.display_value} en créditos para apoyar otros proyectos. 
| Aquí tenemos una selección que te puede interesar:
br
br
-contribution.user.recommended_projects.limit(3).each do |project|
  |#{link_to(project.name, project_by_slug_url(permalink: project.permalink, ref: 'notificacao_projeto_nao_financiado'))}
  br
  |#{project.headline}
  br
  br
br
br
| Si lo prefieres, puedes pedir un #{link_to("reembolso de tu aporte", credits_user_url(contribution.user))}.
br
br
| Recuerda que el ID de tu contribución es: #{contribution.id}
br
br
| Si tienes alguna pregunta, pónte en contacto con nosotros, respondiente a este mensaje o a través del e-mail #{mail_to Configuration[:email_contact]}
br
br
|Un abrazo,
br
| #{Configuration[:company_name]}
