- contribution = @notification.contribution
- company_name = ::Configuration[:company_name]
- contact_email = ::Configuration[:email_contact]

|Hola, <strong>#{contribution.user.display_name}</strong>!
br
br
| Nosotros no hemos recibido la confirmación del aporte generado para el proyecto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}.
br
br
| Si tiene interés en apoyar el proyecto, podemos cambiar la fecha de vencimiento par austed. Simplemente póngase en contacto con nosotros respondiendo a este menesaje o escribiendo al e-mail #{mail_to contact_email}
br
br
|Un abrazo,
br
| #{company_name}
