- contribution = @notification.contribution
- company_name = ::Configuration[:company_name]
- contact_email = ::Configuration[:email_contact]

|Hola, <strong>#{contribution.user.display_name}</strong>!
br
br
| Nosotros hemos recibido la confirmación del aporte al proyecto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}. 
br
br
| Para que este proyecto se haga realidad, necesita de mucho apoyo, así que, tienes hasta #{l(contribution.project.expires_at)} 
| para realizar una #{link_to 'nueva contribución', project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}. O para divulgarlo en tus redes sociales y con tus amigos.
| Únete a más de <strong>#{contribution.project.total_contributions}</strong> personas que quieren que el proyecto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')} sea una realidad!
br
br
| Si usted tiene alguna pregunta, póngaen contacto con nosotros respondiendo a este mensaje o a través del e-mail #{mail_to contact_email}
br
br
|Un abrazo,
br
| #{company_name}
