- contribution = @notification.contribution
|Proyecto: #{contribution.project.name}
br
|Llave: #{contribution.key}
br
|Creado en: #{contribution.created_at}
br
|Confirmado en: #{contribution.confirmed_at}
