- contribution = @notification.contribution
|Projeto: #{contribution.project.name}
br/
|Llave de la contribución: #{contribution.key}
br/
|ID medio de pagao: #{contribution.payment_id}
br/
br/
|Este apoyo recibió notificación de la cancelación del pago después de que ya había recibido una notificación de confirmación.
br/
|Compruebe en la página web del método de pago (o en el banco, o pagosonline) el estado actual de esta transacción, también verifiqu en (adm/contributions)

