- user = @notification.user
- project = @notification.project
- channel = @notification.channel

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

= content_for :email_logo do
  = image_tag(channel.image, alt: channel.name)

|Hola, #{user.name}!
br
br
| El equipo de #{channel.name} acaba ou de receber o projeto #{link_to project.name, project_link, target: '__blank'}
br/
br/
| Durante lo próximos 5 días habiles, se analizará el borrador del proyecto que se envió y daremos una respuesta.
br
br
strong Pueden recibir 3 tipos de respuesta: 
br/
br/
strong 1: 
| El proyecto pasó nuestro análisis, fue aceptado y ya está al aire! 
br/
| Desde ese momento ya puedes cuadrar un día y hora para estrenar y decirle a todo el mundo que el proyecto ya está en Súmame!
br/
br/
strong 2: 
| Nos parece que el proyecto tiene mucho que ver con lo que #{company_name} quiere apoar, pero todavía necesita algunos ajustes para poder salir al aire. Vamos a contactarnos con ustedes para comprender sus necesidades y sugerirles algunas cosas y resolver algunas dudas.
br/
br/
strong 3:
| Por desgracia, el proyecto que se envió no encaja en el perfil de lo esperado por #{channel.name}.
| Enviaremos un email notificando la causa. Sabemos que las respuestas negativas no son bienvenidas, pero recuerda "arriba y pa'lante". Recuerda mirar nuestra #{link_to 'Central de Soporte', ::Configuration[:support_forum], target: '__blank'} do #{company_name} y la #{ link_to 'propuesta', channels_about_url(subdomain: channel.permalink), target: '__blank'}
| de #{channel.name} para que conozcas todo acerca de los pre-requisitos, buenas prácticas y tips al crear tu siguiente proyecto.
br/
br/
| Recuerda que puedes hacernos preguntas respondiendo directamente a este correo o enviandonos un mensaje al e-mail  #{mail_to channel.email}.
br/
br/
strong Todas las inquietudes serán atendidas directamente por los responsables del validador a través del correo anterior!
br/
br/
|Un abrazo,
br/
= channel.name
br/
br/
| Estás en contacto con los encargados de #{channel.name}
br/
br/
| Conoce más:
br/
= link_to 'Qué son los validadores?', 'http://sumame.uservoice.com/knowledgebase/articles/333634--qu%C3%A9-es-un-validador', target: '__blank'
br/
= link_to "Diferencias entre un validador y #{company_name}.", 'http://sumame.uservoice.com/knowledgebase/articles/333635-diferencia-entre-un-validador-y-sumame-co', target: '__blank'

