- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

|Hola, #{user.name}!
br
br
| Nuestro equipo acaba de recibir el proyecto  #{link_to project.name, project_link, target: '__blank'}
br/
br/
| Durante lo próximos 5 días habiles, se analizará el borrador del proyecto que se envió y daremos una respuesta.
br
br
strong Pueden recibir 3 tipos de respuesta: 
br/
br/
strong 1: 
| El proyecto pasó nuestro análisis, fue aceptado y ya está al aire! 
br/
| Desde ese momento ya puedes cuadrar un día y hora para estrenar y decirle a todo el mundo que el proyecto ya está en Súmame!
br/
br/
strong 2: 
| Nos parece que el proyecto tiene mucho que ver con lo que #{company_name} quiere apoar, pero todavía necesita algunos ajustes para poder salir al aire. Vamos a contactarnos con ustedes para comprender sus necesidades y sugerirles algunas cosas y resolver algunas dudas.
br/
br/
strong 3: 
| Por desgracia, el borrador del proyecto que se envió no encaja en el perfil de lo que #{company_name} está buscando apoyar.
| Enviaremos un email notificando la razón. Sabemos que las respuestas negativas no son agradables, pero recuerda "A levantarse y seguir pa'lante", 
| puedes estudiar nuestro #{link_to 'Central de Soporte', ::Configuration[:support_forum], target: '__blank'}  para que te enteres de las mejores prácticas, prerequisitos y tips para que lances otro proyecto.
br/
br/
| Recuerda que puedes hacernos preguntas respondiendo directamente a este correo o enviandonos un mensaje al e-mail #{mail_to ::Configuration[:email_projects]}
br/
br/
|Un abrazo,
br/
= company_name
