p Hola #{@notification.project.user.name},

p Hemos venido aquí para pedir disculpas y un poco de ayuda !

p Hemos tenido un problema en nuestro sistema actual : la imagen perdida proporcionada por usted a aparecer en la página principal del sitio y la página de búsqueda que representa su proyecto. Fueron reemplazados temporalmente imagen de vídeo recibida por su proyecto .

p Pero es posible recuperar su imagen y la solución es rápida e indolora .

p Sólo se sube de nuevo a través de este paso , paso a :

ol
  leer
    | Iniciar sesión
    = link_to 'página del proyecto', project_by_slug_url(permalink: @notification.project.permalink, anchor: 'edit')
  Ve y lee la pestaña "Editar " ( el enlace anterior debería dirigir la palanca a la misma)
  En el campo li " Miniatura Proyecto" , subir la imagen
  leer Al hacer clic en el botón "Actualizar proyecto" en la parte inferior de la pantalla.

p Ready ! Con eso se recupera su imagen y representan su proyecto para todo el que está navegando el sitio.

p ¡Gracias por su atención y ayuda. Si usted tiene alguna pregunta sólo responda a este correo electrónico.

Saludos p,


