| Para configurar Mercado Pago en Súmame debes seguir este link
| "#{MERCADOPAGO_AUTH_URL}#{mercado_pago_clients_code_url}?project_id=#{mercado_pago_client.project_id}"
| Ingresar con tu usuario de mercado pago y autorizar la app de mercado pago.