- project = @notification.project
| Hey!
br
br
| Un proyecto fue creado en #{Configuration[:company_name]}!
== " por #{link_to project.user.name, user_url(project.user)}"
br
== "Email del realizador: #{mail_to project.user.email}"
br
br
| Detalles del proyecto:
br
br
b Nombre:
= " #{project.name}"
br
b Meta:
= " #{project.display_goal}"
br
b Lista de Links relacionados:
br
= simple_format(project.more_links)
br
b Primeiros apoyadores:
br
= simple_format(project.first_contributions)
br
b Como conoció a #{Configuration[:company_name].downcase}:
br
= simple_format(project.how_know)
br
br
= link_to 'Detalles del proyecto', project_by_slug_url(permalink: project.permalink)

