- project = @notification.project
- channel = @notification.channel
- user = project.last_channel.users.first
- company_name = ::Configuration[:company_name]
- project_link = project_by_slug_url(permalink: project.permalink)

| Hola
- if user.name
  | , #{user.name}!

br
br
| Un nuevo proyecto necesita de tu aprobación! Es importante que sepas que #{company_name} tiene una política y un compromiso con los proyectos nuevos para responder dentro de los próximos 4 días hábiles. No los dejes esperando! 
br
br
| <strong>Proyecto:</strong> #{link_to project.name, project_link, target: '__blank'}
br/
br/
| <strong>Realizador:</strong> #{link_to project.user.display_name, user_url(project.user)}
br/
br/
b Lista de Links relacionados:
br
= simple_format(project.more_links)
br
b Primeros apoyadores:
br
= simple_format(project.first_contributions)
br
b Como conoció a #{channel.name}:
br
= simple_format(project.how_know)
