- contribution = @notification.contribution

|Hola, <strong>#{contribution.user.display_name}</strong>!
br
br
| Vemos que ha iniciado un aporte para el proyecto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_pending')}, 
| pero no consiguió concluirlo.
br
br
| El apoyo es esencial y se puede inir a los otros #{contribution.project.total_contributions} apoyadores para hacer este proyecto una realidad. 
br
br
| #{ link_to "Tiene hasta #{l(contribution.project.expires_at)} para realizar la contribución ", edit_project_contribution_url(project_id: contribution.project.id, id: contribution.id, ref: 'notification_pending') }
br
br
| Si el motivo de no haber completado su apoyo fue un problema técnico, se recomienda tratar de nuevo utilizando otro navegador.
br
br
| Si el problema persiste, póngase en contacto con nosotros inmediatamente respondiendo a este mensaje o al correo electrónico #{mail_to Configuration[:contact_email]}
br
br
|Un abrazo,
br
|#{Configuration[:company_name]}
