- contribution = @notification.contribution
|Hola, #{contribution.user.name}!
br
br
|Tu iniciaste un apoyo para el proyecto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink)}, pero no alcanzó la meta en Súmame.
br
br
| <strong>Si usted NO ha completado el proceso de apoyo</strong>, puede ignorar la información de este correo.
br
br
| <strong>Si usted SI completo el apoyo</strong>, pero no he recibido la confirmación de Súmame, sin embargo, usted debe recibir en los próximos días, cuando el método de pago: #{contribution.payment_method} confirme su contribución.
br
br
|Debido a esto, usted recibirá #{contribution.display_value} en créditos para apoyar otros proyectos.
br
br
| Si lo prefiere, puedes solicitar un #{link_to("reembolso del apoyo.", "#{Configuration[:base_url]}/users/#{contribution.user.to_param}#credits")}.
br
br
| Recuerda que la clave del apoyo es: <strong>#{contribution.id}</strong>
br
br
| Si tiene alguna duda, póngase en contacto con nosotros respondiendo a este mensaje o escribiendonos a: #{mail_to Configuration[:email_payments]}
br
br
| Un abrazo,
br
| #{Configuration[:company_name]}
