-contribution = @notification.contribution
- company_name = ::Configuration[:company_name]
- contact_email = ::Configuration[:email_contact]
|Hola, <strong>#{contribution.user.display_name}</strong>!
br
br
|Su apoyo para #{link_to contribution.project.name, project_url(contribution.project)} 
| está en proceso de <strong>análisis por #{contribution.payment_method}</strong>
br
br
| Esta es una medida de #{contribution.payment_method} para evitar fraudes y 
| aumentar la tranquilidad de todos los usuarios de transacciones por este medio que ocurren en #{company_name}. 
| Es posible que #{contribution.payment_method} se ponga en contacto con usted por medio de teléfono para confirmar la transacción.
br
br
| Una vez que #{contribution.payment_method} autorize la contribución, mandaremos otro email con la confirmación.
br
br
| Si tiene alguna duda, póngase en contacto con nosotros respondiendo este correo o enviando un mensaje a #{mail_to contact_email}
br
br
|Un abrazo,
br
| #{company_name}
