- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

|Hey #{project.user.display_name},
br/
br/
| Infelizmente el proyecto #{link_to project.name, project_link } no alcanzó la meta en #{company_name}.
br/
br/
| Todos los apoyadores recibirán um email con instrucciones sobre como utilizar sus créditos o pedir un reembolso del apoyo. 
br/
| Mirar: #{link_to 'Reglas de Reembolsos', 'http://sumame.uservoice.com/knowledgebase/articles/333553-reglas-de-reembolso', target: '__blank' }
br/
br/
strong Último pedido =)
br/
| Siempre estamos buscando mejorar nuestro servicio y tenemos que estar atentos a lo que los usuarios nos dicen. Una de las mejores maneras de hacerlo es recoger información y asistencia de los que tenían experiencia con la plataforma. Sería fabuloso si respondió estas dos preguntas poco más abajo:
br/
br/
strong 1. Cuales fueron los 2 peores problemas que enfrentó durante esta campaña?
br/
br/
| Puede ser relacionado o no con #{company_name} o de pronto relacionado a las comunicción, etc...
br/
br/
strong 2. Qué es lo que más siente que le hace falta a la plataforma de #{company_name}?
br/
br/
|Felicitaciones por su campaña, su proyecto no pueden haber alcanzado el objetivo pero seguro aprendido algo y pueden beneficiarse enormemente de esta experiencia si quieres!
br/
br/
| Muchas gracias por creer en Súmame y dejarnos hacer parte de un mundo donde todos suman, todos ganan.
br/
br/
| Un abrazo,
br/
= company_name

