- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

|Hola, #{user.display_name}.
br/
br/
| El proyecto #{link_to project.name, project_link, target: '__blank'} está al aire, ya puedes recibir contribuciones, buena suerte! 
| Una campaña de financiación colectiva requiere trabajo, pero es gratificante! Si planea sus acciones antes, no pierda el tiempo.
br/
| Para discutir las estrategias de comunicación con nuestro equipo y recibir sugerencias sobre cómo actuar en su campaña, 
| responda este email o envie uno a #{mail_to ::Configuration[:email_projects]} . 
| Recuerda que <strong>TU eres el responsable de promover la campaña y divulgar el proyecto</strong>. Hazlo con todoas tus redes, estas son supremamente importante para consguir apoyo para que la campaña sea exitosa. Cuantale a todo el mundo!
br/
br/
strong Información importante:
br/
br/
| Tu <strong>NO</strong> puedes <strong>cambiar</strong> la <strong>Meta de Financiamiento</strong> ni el  <strong>Plazo escogido</strong>, ni el <strong> Tipo de Campaña</strong> para a campaña. 
br/
br/
| Esto es lo que si se puede modificar:
br/
| - El video principal de la campaña
br/
| - La descripción del proyecto
br/
| - Puedes crear nuevas recompensas
br/
| - Modificar el contenido y valor de recompensas que naide ha escogido
br/
| - Modificar el límite de apoyadores de una recompensa
br/
| - Cambiar la foto y la frase clave del proyecto
br/
| - Recuerde revisar las reglas, consejos y otra información a través de la #{link_to 'Central de Soporte', ::Configuration[:support_forum]}.
br/
br/
| <strong>Si no haz visitado la #{link_to 'Central de Soporte', ::Configuration[:support_forum], target: '__blank'}, 
| hazlo! Entre más sepas sobre los detalles de una campaña en #{company_name}, vas a estar mejor preparado.</strong> 
| Y acuérdate que estamos aquí para ti! Cualquier duda, contáctanos, escribenos a #{mail_to Configuration[:email_projects]}
br/
br/
| Acuerdate de </strong>agregarnos a tu lista de contactosen </strong> 
| #{mail_to ::Configuration[:email_projects]} y #{mail_to ::Configuration[:email_contact]} para evitar que los mensajes lleguen a spam. 
br/
br/
| Un abrazo,
br/
| El equípo #{company_name} te desea una buena campaña!! Vamos con toda!!!!
