- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

|HOla #{project.user.name},
br/
br/
| El plazo para el proyecto #{link_to project.name, project_link} en #{company_name} llegó a su fin.
br/
br/
| Existen aportes pendientes para el proyecto. Para poder calcular el total recaudado, esperaremos confirmación de estas contribuciones en lo próximos 4 días hábiles. 
br/
br/
| Estos son algunos de los escenarios en los que podría terminar su proyecto:
br/
br/
| <strong>1) El proyecto ya ha superado la meta:</strong> contaremos lo recaudado en caso 
| de haber una confirmación pendiente de algún aporte les haremos llegar todos los aportes que estén en este caso. 
br/
| Mirar: #{link_to 'Como se hará la transferencia del dinero?', 'http://sumame.uservoice.com/knowledgebase/articles/339019--c%C3%B3mo-se-har%C3%A1-la-transferencia-del-dinero', target: '__blank'}
br/
br/
| <strong>2) Si su proyecto aún no ha alcanzado la meta, pero tiene pagos pendientes que podrían hacer que se cumpla:</strong> vamos a esperar, y esperamos que estos aportes se confirmen y se pueda llegar a la meta del 100% (Si el proyecto es tipo Todo o Nada, solo se hará la transferencia si se llega a la meta, si el proyecto es tipo Todo Suma se entregará todo lo recaudado a la fecha). 
| Como algunos de los proyectos son financiados con aportes de última hora, hay que estar pendientes de estos aportes y nos estaremos comunicando con ustedes.
br/
br/
| <strong>3) Si el proyecto no llega a la meta, incluso después de esperar estas confirmaciones de última hora:</strong> primero, 
| Si el proyecto es de tipo Todo Suma, lo recaudado será transferido al responsable del proyecto.
| Si el proyecto es de tipo Todo o Nada: Los apoyadores recibirán el valor de la contribución en forma de créditos en #{company_name} para apoyar otros proyetos. 
| Ellos también recibirán un correo con las instrucciones de como pedir un reembolso del valor contribuido, en caso de preferirlo. 
br/
| Mirar: #{link_to 'Reglas de Reembolsos', 'http://sumame.uservoice.com/knowledgebase/articles/333553-reglas-de-reembolso', target: '__blank'}.
br/
br/
| Si tiene alguna duda, respnda a este correo o envíe un mensaje al e-mail #{mail_to ::Configuration[:email_projects]}
br/
br/
| Un abrazo,
br/
= company_name
