- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

| Uhuu, #{project.user.name}!
br/
| Excelente!!!
br/
br/
| El proyecto #{link_to project.name, project_link} fue financiado!
br/
br/
| Después de que usted celebre la finalización con éxito de su campaña de recaudación de fondos,
| es hora de volver al trabajo! Hemos reunido alguna información muy importante para aquellos que tuvieron su
| proyecto financiado con éxito en #{company_name}.
br/
br/
| <strong>1</strong> - En la pestaña de Reportes (que está en la página del proyecto) puedes bajar
| documentos con la <strong>información sobre los apoyadores del proyecto</strong> (Recompensa  escogida | Valor do apoyo | Fecha de confirmación del apoyo | Nombre | E-mail | Dirección)
br/
br/
| <strong>2</strong> - Emitiremos una <strong>Carta convenio</strong> para poder hacerle a usted la transferencia de dinero. Para emitirla, utilizaremos la información que está en su perfil.
br/
| Mirar:  #{link_to 'Como se hará la transferencia de dinero?', 'http://sumame.uservoice.com/knowledgebase/articles/339019--c%C3%B3mo-se-har%C3%A1-la-transferencia-del-dinero', target: '__blank'}
br/
br/
' <strong>3</strong> - Aquí en el link de: #{link_to 'Realizadores | se acabo el plazo!', 'http://sumame.uservoice.com/knowledgebase/articles/344515-realizadores-se-termin%C3%B3-el-plazo-del-proyecto' }
| encontrarás más información sobre esta nueva fase del proyecto en #{company_name}!
| Lea con cuidado y mantengase al tanto todos los procesos que se realizan después de la finalización del proyecto!
br/
br/
| Si tiene alguna duda, por favor responda a este mensaje o envíe un e-mail #{mail_to ::Configuration[:email_projects]}
br/
br/
| Un fuerte abrazo de felicitaciones!
br/
= company_name
