- user = @notification.user
- project = @notification.project
- channel = @notification.channel
- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

= content_for :email_logo do
  = image_tag(channel.image, alt: channel.name)

| Hola
- if user.name
  | , #{user.name}!
br/
br/
| Gracias por iniciar un proceso de inscripción de un proyecto en #{channel.name}, 
| hospedado en #{company_name}! Este es apenas el paso inicial, y quiere decir que acabas de crear
| un borrador del proyecto #{link_to project.name, project_link, target: '__blank'} en #{channel.name}.
br/
br/
| Los consejos fundamentales para estructurar su proyecto se puede encontrar en varios artículos en
| nuestra #{link_to 'Central de Soporte', ::Configuration[:support_forum], target: '__blank'} de #{company_name}. 
| Puede ser utilizado como una fuente de referencia para la mayoría de las preguntas que tenga antes, durante y después de su campaña. Aun así, decidimos destacar algunos puntos en el correo electrónico. Lea todo con mucho cuidado:
br/
br/
= link_to "Lo básico de #{company_name}", 'http://sumame.uservoice.com/knowledgebase/topics/52611-lo-b%C3%A1sico', target: '__blank'
br/
= link_to 'Realizadores - primeros pasos (borrador)', 'http://sumame.uservoice.com/knowledgebase/topics/52612-realizadores-primeros-pasos', target: '__blank'
br/
br/
|Mirar también:
br/
= link_to "Cuales son todos los pasos para crear una campaña #{company_name}?", 'http://sumame.uservoice.com/knowledgebase/articles/344533--cu%C3%A1les-son-los-pasos-a-seguir-para-crear-una-camp', target: '__blank'
br/
= link_to "Como promover un proyecto", 'http://sumame.uservoice.com/knowledgebase/articles/344541-la-promoci%C3%B3n-de-un-proyecto', target: '__blank'
br/
br/
| Lea estos materiales y luego llenarlo con calma suficiente para perfeccionar su proyecto.
br/
|Puedes quedarte todo el tiempo que quiera montar a la página de su diseño antes de enviarlo.
br/
br/
| Al considerar el diseño de la página está lista, simplemente haga clic en el botón "ENVIAR PROYECTO" y nos pondremos en contacto con usted.
br/
br/
| Si tienes alguna duda, contáctanos respondiendo a este mail, o escribiendo al e-mail #{mail_to channel.email}. 
strong IMPORTANTE: Todas las dudas serán atendídas directamente con los responsables de este Canal Validador a través de correo electrónico!
br/
br/
|Por favor <strong>no se le olvide de agregarnos a su lista de contactos:</strong> 
| #{mail_to channel.email}, #{mail_to ::Configuration[:email_projects]} y #{mail_to ::Configuration[:email_contact]}  para evitar que nuestros mensajes lleguen a su capeta de spam.
br/
br/
| Un abrazo,
br/
= channel.name
br/
br/
| Está en contacto con el soporte de: #{channel.name}
br/
br/
| Averiguar más:
br/
= link_to 'Qué es un validador?', 'http://sumame.uservoice.com/knowledgebase/articles/333634--qu%C3%A9-es-un-validador', target: '__blank'
br/
= link_to "Diferencia entre un validador y #{company_name}.", 'http://sumame.uservoice.com/knowledgebase/articles/333635-diferencia-entre-un-validador-y-sumame-co', target: '__blank'

