- user = @notification.user
- project = @notification.project
- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

| Hola #{user.name},
br/
br/
| Infelizmente, el proyecto #{link_to project.name, project_link, target: '__blank'} no fue aceptado en #{company_name}.
br/
br/
| Creemos que el proyecto no se ajusta al perfil de los proyectos alojados en #{company_name}.
br/
br/
| Si usted quiere tomar alguna pregunta, o eliminar su proyecto rechazado, responda a este correo electrónico o póngase en contacto con nosotros por e-mail #{mail_to ::Configuration[:email_projects]}
br/
br/
| Recordando a tener un proyecto reducido no impide que envíe nuevos diseños para su evaluación.
| Levántate, sacudir el polvo y da una vuelta! Estudie nuestra #{link_to 'Central de Soporte', ::Configuration[:support_forum], target: '__blank'} para que conozca más sobre los prerequisitos.
| para la construcción de su próximo proyecto. Para obtener más información sobre los requisitos para la aprobación de un proyecto en #{company_name}, basta acessar #{link_to 'este artículo', 'http://sumame.uservoice.com/knowledgebase/articles/344540-lineamientos-para-la-creaci%C3%B3n-de-proyectos', target: '__blank' }.
br/
br/
| Un abrazo,
br/
= company_name
