- user = @notification.user
- project = @notification.project
- channel = @notification.channel

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

= content_for :email_logo do
  = image_tag(channel.image, alt: channel.name)

| Hola
- if user.name
  | , #{user.name}!
br/
br/
| Infelizmente, el proyecto #{link_to project.name, project_link, target: '__blank'} no fue aceptado en #{channel.name}
br/
br/
| Creemos que el proyecto no se ajusta al perfil de los proyectos alojados en #{channel.name}.
br/
br/
| Si usted quiere tomar alguna pregunta, o eliminar su proyecto rechazado, responda a este correo electrónico o póngase en contacto con nosotros por e-mail  #{mail_to channel.email}
br/
br/
| Recordando a tener un proyecto reducido no impide que envíe nuevos diseños para su evaluación.
| Levántate, sacudir el polvo y da una vuelta! Estudie nuestra #{link_to 'Central de Soporte', ::Configuration[:support_forum], target: '__blank'} de #{company_name} para que conozca más sobre los prerequisitos.
| para la construcción de su próximo proyecto. Para obtener más información sobre los requisitos para la aprobación de un proyecto en #{channel.name}, entre #{link_to 'aquí', channels_about_url(subdomain: channel.permalink), target: '__blank'}.
br/
br/
|Un abrazo,
br/
|#{channel.name}
br/
br/
| Está en contacto con el soporte de #{channel.name}
br/
br/
| Más información:
br/
= link_to 'Qué es un validador?', 'http://sumame.uservoice.com/knowledgebase/articles/333634--qu%C3%A9-es-un-validador', target: '__blank'
br/
= link_to "Diferencia entre un validador y #{company_name}.", 'http://sumame.uservoice.com/knowledgebase/articles/333635-diferencia-entre-un-validador-y-sumame-co', target: '__blank'





