- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

| Uhuu, #{project.user.name},
br/
br/
| El proyecto #{link_to project.name, project_link} fue parcialmente financiado!
br/
br/
| Después de celebrar la finalización de la campaña de recaudación de fondos,
| es el momento de seguir trabajando! Hemos reunido alguna información muy importante para aquellos que tuvieron su
| proyecto financiado completa o parcialmente aquí en #{company_name}.
br/
br/
| <strong>1</strong> - En la pestaña Reporte (en la página del proyecto) puede descargar los detalles
| con toda la información <strong> sobre los apoyadores del proyecto</strong> (Recompensa  escogida | Valor del apoyo | Fecha de confirmación del apoyo | Nombre | E-mail | Direccion)
br/
br/
| <strong>2</strong> - Realizaremos una <strong>Carta convenio</strong> para usted para que podamos realizar el transpaso del dinero. Para emitir esta carta utilizaremos los datos de su perfil.
br/
| Mirar:  #{link_to 'Como será la transferencia del dinero?', 'http://sumame.uservoice.com/knowledgebase/articles/339019--c%C3%B3mo-se-har%C3%A1-la-transferencia-del-dinero', target: '__blank'}
br/
br/
| <strong>3</strong> - Aquí en este enlace: #{link_to 'Realizadores | Se terminó el plazo del proyecto', 'http://sumame.uservoice.com/knowledgebase/articles/344515-realizadores-se-termin%C3%B3-el-plazo-del-proyecto' }
| encontrará más información sobre la nueva fase del proyecto en #{company_name}!
| Lea con cuidado y esté pendiente de todos los procesos que se realizan después de la finalización del proyecto!
br/
br/
| Si tiene alguna duda, por favor responda este mensaje o escribanos al e-mail #{mail_to ::Configuration[:email_projects]}
br/
br/
| Un fuerte abrazo de felicitaciones!
br/
= company_name
