-contribution = @notification.contribution
- company_name = ::Configuration[:company_name]
- contact_email = ::Configuration[:email_contact]
|Hola, <strong>#{contribution.user.display_name}</strong>!
br
br
| El reembolso fue realizado exitosamente y el aporte para el proyecto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink)}, fue cancelado. 
br
br
| La clave del apoyo es: #{contribution.id}
br
br
| Si tiene alguna duda, contáctenos en #{mail_to contact_email}
br
br
|Un abrazo,
br
| #{company_name}
