- contribution = @notification.contribution
p Usuario #{contribution.user.display_name}
p Email del usuario: #{contribution.user.email}
p Email de pago: #{contribution.payer_email}
p Nombre de pago: #{contribution.payer_name}
p Proyecto: #{contribution.project.name}
p Llave del apoyo: #{contribution.key}
p Identificador del medio de pago: #{contribution.payment_id}
p Valor de apoyo: #{contribution.display_value} 
p Medio de pago: #{contribution.payment_method}
p Forma de pago: #{contribution.payment_choice}
p Fecha de creación de contribución: #{contribution.created_at}
