-contribution = @notification.contribution
- company_name = ::Configuration[:company_name]
- contact_email = ::Configuration[:email_contact]
|Hola, <strong>#{contribution.user.display_name}</strong>!
br
br
| El reembolso del apoyo para el proyecto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink)} en #{company_name} acaba de ser realizado! El crédito efectivo deberá aparecer en la próxima factura, en caso de lo contrario, en la siguiente después de esta..
br
br
| La clave de la contribución es: #{contribution.id}
br/
br/
| Si tienes alguna duda, contáctanos en #{mail_to contact_email}. Para agilizar el proceso, pedimos que nos indique la llave de la contribución.
br
br
|Un abrazo,
br
| #{company_name}
