- contribution = @notification.contribution
- company_name = ::Configuration[:company_name]
- contact_email = ::Configuration[:email_contact]

|Hola, <strong>#{contribution.user.display_name}</strong>!
br
br
| Ya solicitamos el reembolso! En 5 días hábiles, te escribiremos con el resultado del proceso.
br
br
| La llave del apoyo es: #{contribution.id}
br
br
| Si tiene alguna duda, contáctenos en #{mail_to contact_email}
br
br
|Un abrazo,
br
| #{company_name}
