-contribution = @notification.contribution
- company_name = ::Configuration[:company_name]
- contact_email = ::Configuration[:email_contact]

|Hola, <strong>#{contribution.user.display_name}</strong>!
br
br
| No recibimos la confirmación del pago del tickete generado para el proyecto {link_to contribution.project.name, project_url(contribution.project)}.
br
br
|En caso de que quieras apoyar el proyecto, podemos cambiar la fecha de vencimiento para ti.. 
br/
|Para eso, responde este correo o escribenos a #{mail_to contact_email}
br
br
|Un abrazo,
br
| #{company_name}
