strong Estás seguro que quieres que tu contribución sea anónima? 
| Dejando que sea pública te da una reputación positiva y te da puntos en nuestro ranking de apoyadores.
br
br
| Además, la cantidad que aportaste no será publicada a nadie más que al dueño del proyecto (quien siempre sabrá quién eres), aun si tu contribución sea pública.
