strong Estás seguro que quieres que tu contribución sea anónima? 
| Dejando que tu contribución sea pública genera una mejor reputación y agregas relevancia y puntos en nuestro ranking de contribuciones.
br
br
| A demás, la cantidad con la que apoyaste solamente será publicada para el dueño del proyecto (quien si sabrá quien eres tu), incluso si tu apoyo es público.
