h2 Yo quiero apoyar. ¿cuál es el siguiente paso?
h3 ¿Cómo puedo contribuir a este proyecto?
p Primero, define el valor con el cual quieres apoyar y escoge una recompensa. Luego haz click en "Revisa y Realiza tu aporte" para ir a la siguiente página para completar tu aporte.
h3 ¿Cuándo es efectuado el aporte?
p Una vez el proveedore de pago que escogas, (Mercado Pago, Pagos On Line, etc) confirme la transaccion (generalmente no se debería tardar más de 4 días para confirmar). Como este proyecto es TODO SUMA se quedará con todo lo que logre recaudar el #{@project.display_expires_at}.
h3 ¿Entonces recibo mi plata si el proyecto no es exitoso?
p Esto depende del tipo de proyecto, en este caso el proyecto es TODO SUMA, lo que quiere decir que el proyecto se quedará con todos los fondos que logre recaudar.
h3 ¿Cómo consigo mi recompensa?
p Cuando tu recompensa esté lista, #{link_to @project.user.display_name, user_path(@project.user)} se pondrá en contacto contigo para cuadrar la entrega.
