h2 Yo quiero apoyar. ¿cuál es el siguiente paso?
h3 ¿Cómo puedo contribuir a este proyecto?
p Primero, define el valor con el cual quieres apoyar y escoge una recompensa. Luego haz click en "Revisa y Realiza tu aporte" para ir a la siguiente página para completar tu aporte.
h3 ¿Cuándo es efectuado el aporte?
p Una vez el proveedore de pago que escogas, (Pagos On Line, etc) confirme la transaccion (generalmente no se debería tardar más de 4 días para confirmar). Luego, si el proyecto no es existoso o no alcanza su meta de #{@project.display_goal} el #{@project.display_expires_at}, tu reribirás tu plata de vuelta en forma de créditos en #{Configuration[:company_name]}.
h3 ¿Entonces reibo mi plata si el proyecto no es exitoso?
p Si! Recibes el 100% de tu aporte en forma de crétidos para que puedas apoyar otros proyectos en #{Configuration[:company_name]}.
h3 ¿Y si no quiero utilizar los créditos en #{Configuration[:company_name]}?
p No hay problema. Solo ingresa a la pestaña #{link_to t('credits.title'), user_path(current_user, anchor: :credits), :target => :_blank}, 60 días después y pide un reembolso. Si pagaste por tarjeta de crédito, el reembolso se hará en tu siguiente recibo de pago. Si pagaste por débito deberás escribirnos a info@sumame.co con tus datos.
h3 ¿Si el proyecto es exitoso, como consigo mi recompensa?
p Cuando tu recompensa esté lista, #{link_to @project.user.display_name, user_path(@project.user)} se pondrá en contacto contigo para cuadrar la entrega.
